app_1:
    network:
      name: "network_name"
    security:
      name: "security_name"
    compute:
      name: "compute_name"
    storage:
      name: "storage name"
    identity:
      name: "identity name"
    monitoring:
      name: "monitoring name"
    filestore:
      name: "flestore name"
    databases:
      name: "database name"
